<!DOCTYPE html>
<html lang="ko">
    <link rel="stylesheet" href="./style.css" />

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="친구들이 생각하는 나는 어떤 사람일까? 친구들의 마음이 모여 나의 새싹을 키워보세요!" />
        <meta property="og:description" content="친구들이 생각하는 나는 어떤 사람일까? 친구들의 마음이 모여 나의 새싹을 키워보세요!" />
        <meta name="image" content="<%- require('./src/assets/favicon/favicon-32x32.png') %>" />
        <meta property="og:image" content="<%- require('./src/assets/favicon/favicon-32x32.png') %>" />
        <!-- 다음의 태그는 필수는 아니지만, 포함하는 것을 추천함 -->
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <link rel="shortcut icon" href="<%=htmlWebpackPlugin.files.favicon%>" type="image/x-icon" />
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7426857657290789" crossorigin="anonymous"></script>
        <meta name="naver-site-verification" content="16868edd18ef6995cc5182bed712d9772b0561f6" />

        <title>About Me</title>
    </head>
    <body>
        <div id="app"></div>
        <script type="module" src="./bundle.js"></script>
    </body>
</html>
