.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person > #head {
    width: 50px;
    height: 60px;
    border: 1px black solid;
    border-radius: 50%;
    position: relative;
}

.person > #head::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 30px;
    background-color: black;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.person > #body {
    width: 100px;
    height: 200px;
    border: 1px black solid;
    position: relative;
}

.person > #body > #left-arm {
    position: absolute;
    left: -50%;
    width: 50px;
    height: 100px;
    border: 1px black solid;
    transform: rotate(20deg);
}

.text-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.falling-text {
    padding: 4px;
    font-size: 16px;
    color: black;
    opacity: 1;
    transform: translateY(100vh);
    animation: falling-text 3s;
}

@keyframes falling-text {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 1;
    }
}
